*.aux
*.fdb_latexmk
*.fls
*.log
*.bbl
*.blg
*.xml
*.dpth
*.md5
auxfiles/
hgerhards/
other_course/
*.mp4
*.npy
*.npz
code/**/*.txt
code/**/*.json
code/mechanics/pendulum/n_tuple_pendulum/
code/assignments/
notes/external_references/
